//VARIABLES
//COLORS
$primary-color: #000000;
$secondary-color: #ffffff;
$shadow-color: #9e9e9e;
$background-color: #333333;

// COLORS PLATTE
$color-red: #f44336;
$color-pink: #e91e63;
$color-purple: #9c27b0;
$color-deep-purple: #673ab7;
$color-indigo: #3f51b5;
$color-blue: #2196f3;
$color-light-blue: #03a9f4;
$color-blue-grey: #607d8b;
$color-cyan: #00bcd4;
$color-teal: #009688;
$color-green: #4caf50;
$color-light-green: #8bc34a;
$color-lime: #cddc39;
$color-yellow: #ffeb3b;
$color-amber: #ffc107;
$color-orange: #ff9800;
$color-deep-orange: #ff5722;
$color-brown: #795548;
//SHADES
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #9e9e9e;
$color-grey-light: #dbdbdb;
$color-grey-dark: #636363;


//GRID

$grid-width: 114rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 3rem;
$gutter-horizontal: 0rem;

//FONTS

$font-english: "Roboto", sans-serif;
$font-arabic: "Tajawal", sans-serif;
$f-weight: 400;
$f-size: 1.6rem;