// PRE-LOADERS

.preloader-circle {
  border: 1rem solid $color-grey-light;
  border-top: 1rem solid $color-black;
  animation: preloader-spin 3s infinite cubic-bezier(0.54, 0.42, 0.86, 0.19);
}
.preloader-line {
  position: relative;
  background-color: $color-grey-light;
  width: 30rem;
  height: 0.8rem;
  border-radius: 1rem;
  &.progress {
    &::after {
      content: "";
      display: block;
      background-color: $color-black;
      border-radius: 1rem;
      width: 56%;
      height: 0.8rem;
    }
  }
  &.loading{
    &::after {
        content: "";
        display: block;
        background-color: $color-black;
        width: 33.33%;
        height: 0.8rem;
        border-radius: 1rem;
        animation: preloader-line forwards 2s infinite linear;
      }
  }
}