.toast {
  @include btn;
  &__content {
    visibility: hidden;
    display: none;
    position: fixed;
    top: 20%;
    right: 5%;
  }
  &__icon,
  &__message {
    float: left;
    background-color: rgba($color-black, 0.8);
    color: $color-white;
    padding: 1rem;
    font-size: 1.4rem;
  }
}
.show-toast {
  visibility: visible;
  display: block;
  animation: fadeIn 0.5s ease, fadeOut .5s 2s ease;
}
