.tooltip {
    position: relative;
    &__trigger{
        @include btn;
        position: absolute;
        top: 10%;
        left: 5%;
    }
  &__message {
    display: none;
    position: absolute;
    border-radius: .3rem;
    background-color: rgba($color-black, .7);
    padding: .7rem;
    font-size: 1.4rem;
    color: $color-white;
    top: 0%;
    left: 11%;
  }
  &:hover &__message{
    animation: toLeft .8s ease-out;
    display: block;
  }
}