// utilities as a small toolbox sass file for quick fixes

.u-read-only {
  &:hover {
    background-color: transparent;
    cursor: none !important;
    transform: none !important;
    box-shadow: none;
    font-size: 2rem;
  }
}
.u-hide {
  animation: hideMe 2s ease;
  transform: scale(0) !important;
}
.u-show {
  display: block !important;
  animation: showMe 1s ease;
}
.u-selected {
  box-shadow: $color-red 0 0 2rem !important;
}
.u-fade-out {
  animation: fadeOut 1s ease-out;
  transform: scale(0) !important;
}
.u-expand {
  display: block !important;
}
.u-force-hide {
  display: none !important;
}
